// FONTS
$main-font-family: 'Montserrat', sans-serif;
$second-font-family: 'Pacifico', cursive;

//FONT COLORS
$first-font-color: #ffffff;
$second-font-color: #ffe400;
$third-font-color: #a3a3a3;
$black-font-color: #000000;

//  COLORS
$main-color: #000000;
$second-background-color: #ffe400;
$third-color: #fefefe;
$decor-color: #ffe400;

//  COLORS HOVER
$hover-color: #ffe400;

//shadow-color
$rev-shadow: #1d1d1b17;

//media
$mobile-bp-max: 767px;
$mobile-w-min: 280px;

$tablet-bp-min: 768px;
$tablet-w: 688px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1000px;
